body,
html {
  height: auto;
  margin: 0;
}

html {
  padding: 0;
}

html > body {
  padding: 2rem;
  background-color: #ecf0f5;
}

#root {
  height: 100%;
}

.blue {
  color: deepskyblue;
}

.container-div {
  padding: 1rem;
}

.App {
  text-align: center;
  height: 100%;
   background-color: #ffffff;
}

.company-info {
  text-align: justify;
}

.company-info > img {
  height: 2rem;
}

.customer-info-row {
  text-align: justify;
}

.customer-info {
  padding: 1rem;
}

.orders-row > .status-color {
  background-color: yellow;
  color: #000;
  width: fit-content;
}

@media (max-width: 769px) {
  .orders-row > .status-color {
    padding: 0;
  }
}

@media (max-width: 564px) {
  .orders-row > .status-color {
    width: fit-content;
    padding: 0 15px;
  }
}

.sale-description-row {
  text-align: justify;
}

.summary {
  background: #d7dbe0;
  text-align: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tnc {
  text-align: justify;
}

.print {
  display: flex;
  justify-content: center;
}

.print > button {
  margin: 1rem;
}